*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-primary: "Ubuntu";
  --font-secondary: "Trispace";
}

body {
  font-family: var(--font-primary);
}
.container {
  background: rgba(255,255,255,0.3);
}

.header {
  padding: 8px 20px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h5 {
  font-size: 16px;
  font-weight: 700;
}

.home {
  height: calc(100vh - 37px);
}

.home_left-bar--icon {
  width: 35px;
  height: 35px;
  object-fit: contain;
  cursor: pointer;
}

.terminal {
  font-family: var(--font-secondary);
}
#terminal input {
  caret-color: transparent;
}
#terminal {
  width: 100%;
  text-wrap: pretty;
  word-break: break-word;
}

#terminal strong {
  color: rgb(167, 233, 255);;
  text-shadow: 1px 1px 2px black, 1px 1px 1px rgb(167, 233, 255);
}


#projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media screen and (max-width: 800px){
  .home-screen {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .terminal #terminal {
    font-size: 13px !important;
    text-wrap: balance;
    word-break: break-word !important;
  }
}